Source: easybashgui
Section: devel
Priority: extra
Maintainer: Lucio Messina <lucio.messina@mensa.it>
Build-Depends: debhelper (>= 8.0.0), bc, zenity
Standards-Version: 3.9.3
Homepage: https://github.com/BashGui/easybashgui

Package: easybashgui
Architecture: any
Depends: ${misc:Depends}
Description: functions libraries that aims to give simple GUI functions
 EasyBashGUI is a Bash functions library for *BSD and GNU/Linux that aims to 
 give simple GUI functions using yad, gtkdialog, kdialog, zenity, Xdialog, 
 (c)dialog, whiptail or bash builtins depending on KDE or GNOME running or not,
 Yad/Gtkdialog/Xdialog installed or not and, eventually, X server running 
 or not. 

